.number, th, td, h1, p{
	text-align:center;
}

.input-group{
	width: 49%;
	float: left;
	min-width:500px;
}


.well{
	width: 100%;
}

@media (min-width: 1700px) {
	.container{
		width: 1750px !important;
	}	
}


