.number, th, td, h1, p{
	text-align:center;
}

.input-group{
	float: left;
}
.well{
	width: 100%;
}


@media (min-width: 768px) {
	.input-group, .bootstrap-tagsinput{
		width:100%;
	}

	.searchWell{
		height:325px;
	}
}

@media (min-width: 1200px) {
	.input-group, .bootstrap-tagsinput{
		width: 49%;
		min-width:500px;
	}

	.searchWell{
		height: 200px;
	}
}

@media (min-width: 1700px) {
	.container{
		width: 1750px;
	}	
}


