.number, th, td, h1, p {
	text-align: center;
}

body {
	min-width: 776px;
}

a {
	cursor: pointer;
}

.form-group {
	float: left;
    margin-top: 25px;
    margin-right: 5px;
}

.well {
	width: 100%;
}

.tag {
	float: left;
	line-height: 17px;
}

.twitter-typeahead {
	float: left;
}

.checkbox {
    float: left;
	margin: auto;
}

.strictLabel {
	float: right;
	height: 100%;
}

.strictLabel label {
	line-height: 45px !important;
}

.tt-open {
	background-color: white;
	padding: 8px;
	padding-right: 18px;
	border-radius: 5px;
	-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn.dropdown-toggle:active {
	margin-bottom: 7px !important;
}

.tt-menu {
	cursor: pointer;
}

.tt-selectable:hover {
	background-color: lightblue;
}

.bootstrap-select {
	padding: 0 !important;
}

.filter-option {
	text-transform: none !important;
}

.dropdown-toggle {
	padding-left: 12px !important;
	border: 1px solid #ccc !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
	border-radius: 4px !important;
}

.noselect:hover {
	cursor: default;
	text-decoration: none;
}

.noselect:focus {
	cursor: default;
	text-decoration: none;
	outline: none;
}

.form-group, .bootstrap-select {
    width: 100%;
}


.runeFormGroup {
	height: 45px;
}

.bootstrap-tagsinput {
    width: 570px;
    margin-right: 5px;
	height: 38px;
	line-height: 38px;
}

.form-group, button.dropdown-toggle {
    max-width: 100%;
}

.searchWell {
    height: 555px;
}

.bootstrap-select > .dropdown-toggle {
    width: 635px !important;
    max-width: 635px !important;
}

@media (min-width: 992px) {
	.form-group, .bootstrap-select {
		width: 100%;
	}

	.bootstrap-tagsinput {
		width: 790px;
		margin-right: 5px;
	}

	.form-group, button.dropdown-toggle {
		max-width: 100%;
		min-width: 100%;
	}

	.searchWell {
		height: 555px;
	}

	.form-group.half {
		width: 49%;
        min-width: 49%;
		max-width: 49%;
	}

	.bootstrap-select > .dropdown-toggle {
		width: 635px !important;
		max-width: 635px !important;
	}
}

@media (min-width: 1200px) {
	.form-group {
		width: 49%;
		min-width: 500px;
	}

	.bootstrap-tagsinput {
		width: 425px;
		margin-right: 5px;
	}

	.bootstrap-select > .dropdown-toggle {
		width: 490px !important;
		max-width: 500px !important;
	}

	.searchWell {
		height: 340px;
	}
}

@media (min-width: 1700px) {
	.container {
		width: 1750px;
	}

	.bootstrap-tagsinput {
		width: 715px;
		margin-right: 5px;
	}
}

.filter-option {
	word-wrap: normal;
}

.checkbox-inline {
	-webkit-touch-callout: none;

	/* iOS Safari */
	-webkit-user-select: none;

	/* Chrome/Safari/Opera */
	-khtml-user-select: none;

	/* Konqueror */
	-moz-user-select: none;

	/* Firefox */
	-ms-user-select: none;

	/* Internet Explorer/Edge */
	user-select: none;
}

input[type=checkbox] {
	bottom: 16px;
}

.form-group span {
	margin-right: 10px;
}

.form-group.half {
	width: 49%;
}

.form-group.mult span {
    line-height: 29px;
}

.form-group.mult .checkbox {
	margin: auto 15px auto auto;
}

.form-group.mult {

}
